.sidenav-container {
  height: 100%;
}

.sidenav {
  width: fit-content;
  max-width: 30%;
  min-width: 20%;
  padding-right: 20px;
  font-size: smaller;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-btn {
  font-size: large;
  height: 100%;
  text-align: center;
}

.sidenav-progress-bar {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 50%;
}
